@font-face {
    font-family: 'PressStart2P';
    src: url('../font/PressStart2P.woff2') format('woff2'),
        url('../font/PressStart2P.ttf')  format('truetype');
}


/* To make the full background image always show even if the content of the page is enough */
html {
   min-height: 100%;   
}

body {
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    font-size: 0.9em;
    background-color: #3cbcfc;
    background-image: url("../images/landscape2.png"); 
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 300%;
}

h1, h2, h3, header {
    font-family: 'PressStart2P', Fallback, sans-serif;
    margin-bottom: 0.5em;
}

header {
    margin: 1em 1em;
}

header h1 {
    font-size: 2em;
    display: block;
    margin-bottom: 0.5em;
}

header a {
    text-decoration: none;
}

section, footer {
    background-color: white; 
    margin: 1em 1em;
    padding: 0.5em 0.5em;
    border: solid;
}

p {
    margin-bottom: 1em;
}

section ul {
    list-style-type: square;
}

section li {
    margin-left: 1em;
}

footer {
    margin-bottom: 15em;
}



