body {
    background-color: #3cbcfc;
    background-image: url("../images/landscape2.png"); 
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 300%;
}

section, footer {
    background-color: white; 
    margin: 1em 1em;
}

footer {
    margin-bottom: 5em;
}


